<div class="inner">
<h3 class="masthead-brand">Evaluation Target</h3>
<nav class="nav nav-masthead justify-content-center">
  <a class="nav-link" href="/views/home">Home</a>
  <a class="nav-link" href="/views/about">About</a>
</nav>
</div>
