<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <title>About</title>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <%- include('./partials/header'); %>
    </header>

    <main role="main" class="inner cover">
      <h1>Evaluation Target for SWaTEval</h1>
      <p>
        Borcherding, A., Penkov, N., Giraud, M. & Beyerer, J. (2023). SWaTEval: An Evaluation Framework for Stateful Web Application Testing. Accepted at the 9th International Conference on Information Systems Security and Privacy (ICISSP 2023)
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <%- include('./partials/footer'); %>
    </footer>
  </div>

  <%- include('./partials/scripts'); %>
</body>

</html>