<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <%- include('./partials/header'); %>
    </header>

    <main role="main" class="inner cover">
      This a placeholder for the admin page.
    </main>

    <footer class="mastfoot mt-auto">
      <%- include('./partials/footer'); %>
    </footer>
  </div>

  <%- include('./partials/scripts'); %>
</body>

</html>